# settings.toml
[general]                               ###  General configuration settings ###
doSyncSystem    = true                  # Want to sync?    (True/False) (Requires configured syncFile)
doDailyUpdates  = true                  # Daily updates?   (True/False) (No further requirements)
doWeeklyUpdates = true                  # Weekly updates?  (True/False) (Requires configured allowedWeeklyBackups, dateOfWeekly)
doMonthlyUpdate = true                  # Monthly updates? (True/False) (Requires configured allowedMonthlyBackups, dateOfMonthly)
doYearlyUpdates = true                  # Yearly updates?  (True/False) (Requires configured allowedYearlyBackups, dateOfYearly)

[paths]                                 ### File paths for system configuration ###
backupLocation = "/path/to/backups"     # Where will backups be kept?   (Validated on program launch)
syncPaths = [                           # Paths to syncronize           (Automatically backed up)
    # "path/to/sync",
    # "path/to/sync_2"
]
backupPaths = [                         # Paths to create backups from  (sync folder Automatically backed up)
    # "path/to/backup",
    # "path/to/backup_2"
]

[limits]                                ### Backup count limits ###
allowedWeeklyBackups = 4                # Max count of weekly backups that can exist    (0-4)
allowedMonthlyBackups = 12              # Max count of monthly backups that can exist   (0-12)
allowedYearlyBackups = 99               # Max count of Yearly backups that can exist    (0-inf)

[schedule]                              # Scheduler for backup timing (linux only, works with cron)
dateOfWeekly = 0                        # What day for weekly backups?                  (0-6)
dateOfMonthly = 28                      # What day for monthly backups?                 (0-28)
dateOfYearly = [12, 28]                 # What day for yearly backups?                  (1-12, 1-28)

[backup]                                ### Backup configuration settings ###
archive_format = "zip"                  # "zip" or "tar" supported
