# settings.toml
[general]                               ###  General configuration settings ###
doSyncSystem    = false                 # Want to sync?         (True/False) (Requires configured syncPaths)
doSyncBackup    = false                 # Create sync backups?  (True/False) (No further requirements)
doDailyBackups  = true                  # Daily Backups?        (True/False) (No further requirements)
doWeeklyBackups = true                  # Weekly Backups?       (True/False) (Requires configured allowedWeeklyBackups, dateOfWeekly)
doMonthlyBackups = true                 # Monthly Backups?      (True/False) (Requires configured allowedMonthlyBackups, dateOfMonthly)
doYearlyBackups = true                  # Yearly Backups?       (True/False) (Requires configured allowedYearlyBackups, dateOfYearly)

[paths]                                 ### File paths for system configuration ###
backupLocation = ''                     # Where will backups be kept?   (Validated on program launch)
syncLocation = ''
syncPaths = [                           # Paths to syncronize
    # 'path/to/sync',
    # 'path/to/sync_2'
]
backupPaths = [                         # Paths to create backups from
    # 'path/to/backup',
    # 'path/to/backup_2'
]

[limits]                                ### Backup count limits ###
allowedDailyBackups = 7                 # Max count of daily backups that can exist    (0-7)
allowedWeeklyBackups = 4                # Max count of weekly backups that can exist    (0-4)
allowedMonthlyBackups = 12              # Max count of monthly backups that can exist   (0-12)
allowedYearlyBackups = 99               # Max count of Yearly backups that can exist    (0-inf)

[schedule]                              # Scheduler for backup timing (linux only, works with cron)
dateOfWeekly = 0                        # What day for weekly backups?                  (0-6)
dateOfMonthly = 28                      # What day for monthly backups?                 (1-28)
dateOfYearly = [12, 28]                 # What day for yearly backups?                  (1-12, 1-28)

